:root {
    --azul-fundo: rgb(21,36,50);
    --azul-caixa: rgb(79,118,165);
    --azul-botao: rgb(128,186,234);
    --azul-claro: rgb(218,239,254);
}

* {
    box-sizing: border-box;
}

header, main, footer, div, section {
    border: 1px solid #f00;
}

header, main, footer {
    width: 930px;
    padding:15px;
    margin: auto;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
header ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    width: 550px;
}

.boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.box {
    width: 280px; /*870 no total*/
}