header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header nav {
    display: none;
}

header ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    width: 550px;
}