/* Mobile 480px */
header, main, footer {
    width: 99%;
    margin: auto;
}

.banner {
    height: 300px;
}

.banner h2 {
    padding: 80px 50px 0;  
}

.banner p {
    margin-top: 0;
    width: 500px;
    padding-left:50px;
}

section {
    padding: 25px 0;
}

.menu {
    display: none;
}

/*Desktop*/
@media (min-width:979px) {
    header, main, footer {
        width: 930px;
        padding:15px;
        margin: auto;
    }
    main {
        padding-bottom: 0;
    }

    header nav {
        display: block;
    }

    header ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        list-style: none;
        width: 550px;
    }

    .menu {
        display: block;
        margin:0 -15px;
    }

    .menu ul {
        display: flex;
        justify-content: space-between;
        
        width: 600px;
        margin:auto;
        font-size: .9em;
    }

}